aiohttp==3.6.2
aioice==0.6.18
aiortc==0.9.20
asgiref==3.2.3
async-timeout==3.0.1
attrs==19.3.0
av==6.2.0
cffi==1.14.0
chardet==3.0.4
crc32c==2.0
crcmod==1.7
cryptography==2.9
Django==3.0.3
dlib==19.19.0
idna==2.9
idna-ssl==1.1.0
imutils==0.5.3
multidict==4.7.5
netifaces==0.10.9
numpy==1.18.1
opencv-contrib-python==4.2.0.32
pandas==1.0.1
pkg-resources==0.0.0
playsound==1.2.2
pycparser==2.20
pyee==7.0.1
pylibsrtp==0.6.6
pyOpenSSL==19.1.0
python-dateutil==2.8.1
pytz==2019.3
scipy==1.4.1
six==1.14.0
sqlparse==0.3.0
typing-extensions==3.7.4.2
yarl==1.4.2
